<div class="col-lg-12 text-center">
	<h1>Just to confirm, here you go:</h1>
	<hr class="star-primary">

	<div class="well">
	  <% @order.carted_products.each do |carted_product| %>

	    <h4><%= carted_product.quantity %>
	    		<%= carted_product.product.name %>
	    		<%= number_to_currency(carted_product.product.price) %></h4>

	  <% end %>

	</div>
</div>