<div class="col-lg-12 text-center">
<h1>Do you like lemonade?</h1>
<hr class="star-primary">
</div>
<%= link_to "Yes", "/questions/params[:id]", method: :post %>
<%= link_to "No", "/questions", method: :post %>

