<h1>BASED ON WHAT YOU TOLD ME, IT SOUNDS LIKE THIS WOULD COMPLETE YOUR ORDER:</h1>

<h1>Order</h1>
<% @carted_products.each do | carted_product | %>
 	<%= carted_product.quantity %>
	<%= carted_product.product.name %>
	<%= number_to_currency(carted_product.product.price) %>
	<p>

	</p>
<% end %>

<%= link_to "Take to register", "/orders", method: :post, class: "btn btn-success" %>
